In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('Data/medical_insurance.csv')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
#one hot encoding
encoded_data=pd.get_dummies(data)
encoded_data

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [7]:
#creating features and labels
X=encoded_data.drop('charges', axis=1)
y=encoded_data['charges']
X.head(), y.head()

(   age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
 0   19  27.900         0           1         0          0           1
 1   18  33.770         1           0         1          1           0
 2   28  33.000         3           0         1          1           0
 3   33  22.705         0           0         1          1           0
 4   32  28.880         0           0         1          1           0

    region_northeast  region_northwest  region_southeast  region_southwest
 0                 0                 0                 0                 1
 1                 0                 0                 1                 0
 2                 0                 0                 1                 0
 3                 0                 1                 0                 0
 4                 0                 1                 0                 0  ,
 0    16884.92400
 1     1725.55230
 2     4449.46200
 3    21984.47061
 4     3866.85520
 Name: charges, dtype: float64)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)

In [10]:
len(X),len(X_train),len(X_test)

(1338, 936, 402)

In [11]:
len(y),len(y_train),len(y_test)

(1338, 936, 402)

In [13]:
#create a model
tf.random.set_seed(100)
model=tf.keras.Sequential()
model.add(tf.keras.layers.Dense(10))
model.add(tf.keras.layers.Dense(1))

In [14]:
#compile the model
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.SGD(),
              metrics=['mae'])

In [16]:
#fit the model
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
30/30 [==============================] - 5s 10ms/step - loss: 8481.7285 - mae: 8481.7285
Epoch 2/100
30/30 [==============================] - 0s 16ms/step - loss: 7616.0977 - mae: 7616.0977
Epoch 3/100
30/30 [==============================] - 0s 13ms/step - loss: 7344.5581 - mae: 7344.5581
Epoch 4/100
30/30 [==============================] - 0s 16ms/step - loss: 7609.8413 - mae: 7609.8413
Epoch 5/100
30/30 [==============================] - 0s 12ms/step - loss: 7617.6772 - mae: 7617.6772
Epoch 6/100
30/30 [==============================] - 0s 12ms/step - loss: 7641.7290 - mae: 7641.7290
Epoch 7/100
30/30 [==============================] - 0s 15ms/step - loss: 7697.9521 - mae: 7697.9521
Epoch 8/100
30/30 [==============================] - 0s 14ms/step - loss: 7749.4937 - mae: 7749.4937
Epoch 9/100
30/30 [==============================] - 0s 13ms/step - loss: 7586.5435 - mae: 7586.5435
Epoch 10/100
30/30 [==============================] - 0s 13ms/step - loss: 7690.8745 - mae: 7690.8745
Epoch 11/100
30/30 [==============================] - 1s 21ms/step - loss: 7688.4189 - mae: 7688.4189
Epoch 12/100
30/30 [==============================] - 0s 12ms/step - loss: 7620.6934 - mae: 7620.6934
Epoch 13/100
30/30 [==============================] - 0s 13ms/step - loss: 7445.9805 - mae: 7445.9805
Epoch 14/100
30/30 [==============================] - 0s 12ms/step - loss: 7602.7598 - mae: 7602.7598
Epoch 15/100
30/30 [==============================] - 0s 11ms/step - loss: 7581.4229 - mae: 7581.4229
Epoch 16/100
30/30 [==============================] - 0s 15ms/step - loss: 7750.9482 - mae: 7750.9482
Epoch 17/100
30/30 [==============================] - 0s 11ms/step - loss: 7484.3574 - mae: 7484.3574
Epoch 18/100
30/30 [==============================] - 0s 13ms/step - loss: 7835.8398 - mae: 7835.8398
Epoch 19/100
30/30 [==============================] - 0s 12ms/step - loss: 7544.6963 - mae: 7544.6963
Epoch 20/100
30/30 [==============================] - 1s 17ms/step - loss: 7597.1270 - mae: 7597.1270
Epoch 21/100
30/30 [==============================] - 0s 14ms/step - loss: 7582.1235 - mae: 7582.1235
Epoch 22/100
30/30 [==============================] - 0s 13ms/step - loss: 7713.3335 - mae: 7713.3335
Epoch 23/100
30/30 [==============================] - 0s 12ms/step - loss: 7692.4702 - mae: 7692.4702
Epoch 24/100
30/30 [==============================] - 0s 16ms/step - loss: 7500.4365 - mae: 7500.4365
Epoch 25/100
30/30 [==============================] - 0s 15ms/step - loss: 7614.6084 - mae: 7614.6084
Epoch 26/100
30/30 [==============================] - 1s 18ms/step - loss: 7511.3335 - mae: 7511.3335
Epoch 27/100
30/30 [==============================] - 0s 9ms/step - loss: 7793.9375 - mae: 7793.9375
Epoch 28/100
30/30 [==============================] - 0s 11ms/step - loss: 7568.9512 - mae: 7568.9512
Epoch 29/100
30/30 [==============================] - 0s 8ms/step - loss: 7276.1089 - mae: 7276.1089
Epoch 30/100
30/30 [==============================] - 0s 10ms/step - loss: 7633.6172 - mae: 7633.6172
Epoch 31/100
30/30 [==============================] - 0s 13ms/step - loss: 7551.4761 - mae: 7551.4761
Epoch 32/100
30/30 [==============================] - 0s 14ms/step - loss: 7432.6816 - mae: 7432.6816
Epoch 33/100
30/30 [==============================] - 0s 10ms/step - loss: 7506.2842 - mae: 7506.2842
Epoch 34/100
30/30 [==============================] - 0s 11ms/step - loss: 7378.9966 - mae: 7378.9966
Epoch 35/100
30/30 [==============================] - 0s 14ms/step - loss: 7382.8755 - mae: 7382.8755
Epoch 36/100
30/30 [==============================] - 0s 13ms/step - loss: 7672.6411 - mae: 7672.6411
Epoch 37/100
30/30 [==============================] - 0s 12ms/step - loss: 7452.8643 - mae: 7452.8643
Epoch 38/100
30/30 [==============================] - 0s 15ms/step - loss: 7665.6997 - mae: 7665.6997
Epoch 39/100
30/30 [==============================] - 1s 17ms/step - loss: 7448.3916 - mae: 7448.3916
Epoch 40/100
30/30 [==============================] - 0s 13ms/step - loss: 7425.2788 - mae: 7425.2788
Epoch 41/100
30/30 [==============================] - 0s 13ms/step - loss: 7492.5835 - mae: 7492.5835
Epoch 42/100
30/30 [==============================] - 0s 14ms/step - loss: 7787.3306 - mae: 7787.3306
Epoch 43/100
30/30 [==============================] - 1s 18ms/step - loss: 7711.1230 - mae: 7711.1230
Epoch 44/100
30/30 [==============================] - 0s 13ms/step - loss: 7435.2510 - mae: 7435.2510
Epoch 45/100
30/30 [==============================] - 0s 11ms/step - loss: 7528.8848 - mae: 7528.8848
Epoch 46/100
30/30 [==============================] - 1s 18ms/step - loss: 7395.0703 - mae: 7395.0703
Epoch 47/100
30/30 [==============================] - 1s 17ms/step - loss: 7371.5640 - mae: 7371.5640
Epoch 48/100
30/30 [==============================] - 1s 24ms/step - loss: 7466.9155 - mae: 7466.9155
Epoch 49/100
30/30 [==============================] - 1s 18ms/step - loss: 7437.0488 - mae: 7437.0488
Epoch 50/100
30/30 [==============================] - 0s 13ms/step - loss: 7358.4580 - mae: 7358.4580
Epoch 51/100
30/30 [==============================] - 0s 14ms/step - loss: 7207.2319 - mae: 7207.2319
Epoch 52/100
30/30 [==============================] - 1s 17ms/step - loss: 7426.3657 - mae: 7426.3657
Epoch 53/100
30/30 [==============================] - 0s 15ms/step - loss: 7632.5361 - mae: 7632.5361
Epoch 54/100
30/30 [==============================] - 0s 11ms/step - loss: 7341.7573 - mae: 7341.7573
Epoch 55/100
30/30 [==============================] - 0s 11ms/step - loss: 7305.9692 - mae: 7305.9692
Epoch 56/100
30/30 [==============================] - 0s 11ms/step - loss: 7365.2476 - mae: 7365.2476
Epoch 57/100
30/30 [==============================] - 0s 13ms/step - loss: 7358.4307 - mae: 7358.4307
Epoch 58/100
30/30 [==============================] - 0s 9ms/step - loss: 7173.2866 - mae: 7173.2866
Epoch 59/100
30/30 [==============================] - 0s 10ms/step - loss: 7342.9448 - mae: 7342.9448
Epoch 60/100
30/30 [==============================] - 0s 8ms/step - loss: 7403.6548 - mae: 7403.6548
Epoch 61/100
30/30 [==============================] - 0s 10ms/step - loss: 7224.9722 - mae: 7224.9722
Epoch 62/100
30/30 [==============================] - 0s 10ms/step - loss: 7183.6431 - mae: 7183.6431
Epoch 63/100
30/30 [==============================] - 0s 12ms/step - loss: 7321.1177 - mae: 7321.1177
Epoch 64/100
30/30 [==============================] - 0s 11ms/step - loss: 7419.2686 - mae: 7419.2686
Epoch 65/100
30/30 [==============================] - 0s 13ms/step - loss: 7544.5156 - mae: 7544.5156
Epoch 66/100
30/30 [==============================] - 0s 15ms/step - loss: 7245.5586 - mae: 7245.5586
Epoch 67/100
30/30 [==============================] - 0s 12ms/step - loss: 7416.1089 - mae: 7416.1089
Epoch 68/100
30/30 [==============================] - 0s 12ms/step - loss: 7071.2734 - mae: 7071.2734
Epoch 69/100
30/30 [==============================] - 0s 15ms/step - loss: 7414.9087 - mae: 7414.9087
Epoch 70/100
30/30 [==============================] - 0s 11ms/step - loss: 7271.4834 - mae: 7271.4834
Epoch 71/100
30/30 [==============================] - 0s 12ms/step - loss: 7371.2563 - mae: 7371.2563
Epoch 72/100
30/30 [==============================] - 0s 13ms/step - loss: 7298.0356 - mae: 7298.0356
Epoch 73/100
30/30 [==============================] - 0s 16ms/step - loss: 7256.6694 - mae: 7256.6694
Epoch 74/100
30/30 [==============================] - 0s 15ms/step - loss: 7264.6782 - mae: 7264.6782
Epoch 75/100
30/30 [==============================] - 0s 14ms/step - loss: 7387.2061 - mae: 7387.2061
Epoch 76/100
30/30 [==============================] - 0s 11ms/step - loss: 7573.8057 - mae: 7573.8057
Epoch 77/100
30/30 [==============================] - 1s 17ms/step - loss: 7550.7554 - mae: 7550.7554
Epoch 78/100
30/30 [==============================] - 1s 18ms/step - loss: 7341.1943 - mae: 7341.1943
Epoch 79/100
30/30 [==============================] - 0s 12ms/step - loss: 7357.6270 - mae: 7357.6270
Epoch 80/100
30/30 [==============================] - 0s 17ms/step - loss: 7216.2666 - mae: 7216.2666
Epoch 81/100
30/30 [==============================] - 0s 15ms/step - loss: 7447.2280 - mae: 7447.2280
Epoch 82/100
30/30 [==============================] - 0s 14ms/step - loss: 7225.9136 - mae: 7225.9136
Epoch 83/100
30/30 [==============================] - 1s 18ms/step - loss: 7566.7515 - mae: 7566.7515
Epoch 84/100
30/30 [==============================] - 0s 15ms/step - loss: 7302.8848 - mae: 7302.8848
Epoch 85/100
30/30 [==============================] - 0s 12ms/step - loss: 7375.8389 - mae: 7375.8389
Epoch 86/100
30/30 [==============================] - 1s 19ms/step - loss: 7071.6455 - mae: 7071.6455
Epoch 87/100
30/30 [==============================] - 0s 15ms/step - loss: 7304.9712 - mae: 7304.9712
Epoch 88/100
30/30 [==============================] - 0s 14ms/step - loss: 7438.0176 - mae: 7438.0176
Epoch 89/100
30/30 [==============================] - 0s 15ms/step - loss: 7156.0361 - mae: 7156.0361
Epoch 90/100
30/30 [==============================] - 0s 14ms/step - loss: 7180.0859 - mae: 7180.0859
Epoch 91/100
30/30 [==============================] - 1s 19ms/step - loss: 7077.0181 - mae: 7077.0181
Epoch 92/100
30/30 [==============================] - 1s 19ms/step - loss: 7403.0078 - mae: 7403.0078
Epoch 93/100
30/30 [==============================] - 0s 11ms/step - loss: 7696.2832 - mae: 7696.2832
Epoch 94/100
30/30 [==============================] - 0s 13ms/step - loss: 7357.2939 - mae: 7357.2939
Epoch 95/100
30/30 [==============================] - 0s 14ms/step - loss: 7314.7192 - mae: 7314.7192
Epoch 96/100
30/30 [==============================] - 0s 11ms/step - loss: 7247.2969 - mae: 7247.2969
Epoch 97/100
30/30 [==============================] - 0s 11ms/step - loss: 7671.7256 - mae: 7671.7256
Epoch 98/100
30/30 [==============================] - 0s 16ms/step - loss: 7115.2510 - mae: 7115.2510
Epoch 99/100
30/30 [==============================] - 0s 16ms/step - loss: 7195.5835 - mae: 7195.5835
Epoch 100/100
30/30 [==============================] - 0s 13ms/step - loss: 7256.7964 - mae: 7256.7964